<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title> Travel Blog</title>
    <!-- 부트스트랩 -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="/stylesheets/cash.css" rel="stylesheet">

    <link rel="stylesheet" href="/SlickGrid-master/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/SlickGrid-master/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>

  </head>

  <body>


    <div style="float : right;">
      <button class="w3-btn" type="button" name="button" onclick="AddRow()">+</button>
      <button class="w3-btn" type="button" name="button" onclick="DeleteRow()">-</button>
    </div>

    <table>
      <tr>
        <td>
          <div id="myGrid" style="width:600px;height:500px;"></div>
        </td>
      </tr>
    </table>
    <button class="w3-btn" type="button" name="button" style="float : right;">제출</button>



    <!--
    <br><br>

    <div class="w3-row" style="padding : 10px;">
      <div class="w3-col s3 w3-green w3-center"><p>id</p></div>
      <div class="w3-col s3 w3-red w3-center"><p>물품이름</p></div>
      <div class="w3-col s3 w3-orange w3-center"><p>가격</p></div>
      <div class="w3-col s3 w3-dark-grey w3-center"><p>종류</p></div>
    </div>
    <div id="grid_here" style="width:550px; height:150px;"></div> -->

    <script src="/SlickGrid-master/lib/firebugx.js"></script>

    <script src="/SlickGrid-master/lib/jquery-1.7.min.js"></script>
    <script src="/SlickGrid-master/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/SlickGrid-master/lib/jquery.event.drag-2.2.js"></script>

    <script src="/SlickGrid-master/slick.core.js"></script>
    <script src="/SlickGrid-master/plugins/slick.checkboxselectcolumn.js"></script>
    <script src="/SlickGrid-master/plugins/slick.autotooltips.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellrangedecorator.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellrangeselector.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellcopymanager.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellselectionmodel.js"></script>
    <script src="/SlickGrid-master/plugins/slick.rowselectionmodel.js"></script>
    <script src="/SlickGrid-master/controls/slick.columnpicker.js"></script>
    <script src="/SlickGrid-master/slick.formatters.js"></script>
    <script src="/SlickGrid-master/slick.editors.js"></script>
    <script src="/SlickGrid-master/slick.grid.js"></script>
    <script src="/SlickGrid-master/slick.dataview.js"></script>



    <script type="text/javascript">
      var grid;
      var dataView = new Slick.Data.DataView();
      var data = [];
      var columns = [];
      var columns = [
        {id : "id", name : "Id", field : "id"},
        {id : "cash_name", name : "이름", field : "cash_name", editor: Slick.Editors.Text},
        {id : "cash_value", name : "값", field : "cash_value", editor: Slick.Editors.Text},
        {id : "cash_kind", name : "종류", field : "cash_kind", editor: Slick.Editors.Text}
      ];

      //check box 추가.
      var checkboxSelector = new Slick.CheckboxSelectColumn({
      cssClass: "slick-cell-checkboxsel"
      });
      columns.unshift(checkboxSelector.getColumnDefinition());
      var options = {
        editable: true,
        enableCellNavigation: true,
        asyncEditorLoading: false,
        autoEdit: false
      };
      var num_id=0;
      function AddRow(){
        var d = (data[num_id] = {});
        console.log(num_id);
        //dataVeiw에 저장되어있는 값을 보고싶은데.
        // console.log(dataView.getItems(num_id));
        d.id = num_id ++;
        //d.cash_name = 'hi';

        dataView.setItems(data);
        // console.log(d);

        grid.render();


      }

      $(function(){
        grid = new Slick.Grid("#myGrid",dataView,columns,options);
        console.log(grid);
        grid.setSelectionModel(new Slick.RowSelectionModel({
          selectActiveRow : false
        }));
        grid.registerPlugin(checkboxSelector);
        var columpicker = new Slick.Controls.ColumnPicker(columns,grid,options);
      });


      function DeleteRow(){
        var selected = grid.getSelectedRows();
        grid.setSelectedRows([]);
        console.log('selected : ' + selected);
        $.each(selected,function(index,value){
          console.log("Index: " + index)
          console.log("Value " + value)

          console.log(grid.getData().getItems());

          var item = grid.getData().getItem(value);
          if(item.id){
            console.log("Item (id: " + item.id + ") is @ index " + value);
          }
          grid.getData().deleteItem(item.id);
        })
        grid.invalidate();

      }



      //onload했을때.
      // $(function(){
      //
      //   grid = new Slick.Grid("#myGrid", dataView, columns, options);
      //   grid.setSelectionModel(new Slick.RowSelectionModel({
      //   selectActiveRow: false
      //   }));
      //   var columnpicker = new Slick.Controls.ColumnPicker(columns, grid, options);
      //   grid.registerPlugin(checkboxSelector);
      // });

      //+버튼을 눌렀을때.
      // function AddRow(){
      //   var d = (data[num_id] ={});
      //   d.id = num_id;
      //   num_id ++;
      //   dataView.insertItem(num_id,d);
      //   grid.render();
      // }
      //
      // function DeleteRow(){
      //   var selected = grid.getSelectedRows();
      //   grid.setSelectedRows([]);
      //   $.each(selected,function(index,value){
      //     console.log("Index: " + index);
      //     console.log("Value: " + value);
      //     console.log(grid.getData().getItems());
      //
      //     var item = grid.getData().getItem(value);
      //     console.log("Item (id :)" + item.id + ") is @ index " + value);
      //     grid.getData().deleteItem(item.id);
      //   });
      //   grid.invalidate();
      // }

      //객체값을 확인하구 싶어요.
      function JYgetObject(obj){
        var str = "";
      	for(key in obj) {
      		str += key+"="+obj[key]+"\n";
      	}

      	console.log(str);
      	return;
      }




    </script>


    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>


</html>
