<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title> Travel Blog</title>
    <!-- 부트스트랩 -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="/stylesheets/cash.css" rel="stylesheet">

    <link rel="stylesheet" href="/SlickGrid-master/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="/SlickGrid-master/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>

  </head>

  <body>

    <div style="float : right;">
      <button class="w3-btn" type="button" name="button" onclick="AddRow()">+</button>
      <button class="w3-btn" type="button" name="button">-</button>
    </div>
    <table width="100%">
      <tr height="100%">
        <td>
          <div id="myGrid" style="width:600px;height:500px;"></div>
        </td>
      </tr>
    </table>



    <!--
    <br><br>

    <div class="w3-row" style="padding : 10px;">
      <div class="w3-col s3 w3-green w3-center"><p>id</p></div>
      <div class="w3-col s3 w3-red w3-center"><p>물품이름</p></div>
      <div class="w3-col s3 w3-orange w3-center"><p>가격</p></div>
      <div class="w3-col s3 w3-dark-grey w3-center"><p>종류</p></div>
    </div>
    <div id="grid_here" style="width:550px; height:150px;"></div> -->

    <script src="/SlickGrid-master/lib/jquery-1.7.min.js"></script>
    <script src="/SlickGrid-master/lib/jquery.event.drag-2.2.js"></script>

    <script src="/SlickGrid-master/slick.dataview.js"></script>

    <script src="/SlickGrid-master/slick.core.js"></script>
    <script src="/SlickGrid-master/slick.grid.js"></script>

    <script type="text/javascript">
      var data_view = new Slick.Data.DataView();

      var columns = [
        {id : "cash_id", name : "순번", field : "cash_id"},
        {id : "cash_name", name : "이름", field : "cash_name"},
        {id : "cash_value", name : "값", field : "cash_value"},
        {id : "cash_kind", name : "종류", field : "cash_kind"}
      ];


      var data = [];
      var options = {
        enableCellNavgation : true,
        enableColumnReorder : false
      };
      var gird = new Slick.Grid("#myGrid", data_view, columns, options);

      function AddRow(){
        data = {
          "cash_id" : 1,
          "cash_name" : 2,
          "cash_value" : 3,
          "cash_kind" : 4
        };
        data_view.insertItem(0,data);
      };


    </script>


    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>


</html>
