<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>JunYeop Travel Blog</title>

    <!-- 부트스트랩 -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="/stylesheets/cash.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <h1>가계부등록</h1>
    </header>
    <div>
      <button class = "w3-btn w3-right w3-orange w3-border" type="button" name="add" onclick="add_row()">추가</button>
      <button class = "w3-btn w3-right w3-orange w3-border" type="button" name="delete" onclick="delete_row()">삭제</button>
    </div>
    <br>
    <table class="w3-table-all w3-margin-top">
      <tr>
        <th style="width : 60px;">선택</th>
        <th style="text-align : center;">물품이름</th>
        <th style="text-align : center;">가격</th>
        <th style="width : 150px;">화폐종류</th>
      </tr>
      <tbody id = "my_tbody">
      </tbody>
    </table>


    <button class="w3-btn w3-display-bottomright w3-orange" type="button" onclick="Submit();" name="button">제출</button>


    <script type="text/javascript">
    //escape를 해줘야한다.
      var values = <%- values %>;
      console.log(values);

      if(values.length > 0)
      {
        //values에 뭐 있으면 table에 값을 입력한다.
        var my_tbody = document.getElementById('my_tbody');
        for(var i=0; i<values.length; i++){
          add_row();
          var row = my_tbody.rows[i];
          row.cells[1].childNodes[0].value = values[i][1];
          row.cells[2].childNodes[0].value = values[i][2];
          row.cells[3].childNodes[0].value = values[i][3];
        }
      }

      function add_row(){
        var my_tbody = document.getElementById('my_tbody');
        var row = my_tbody.insertRow(my_tbody.rows.length);
        if(my_tbody.rows.length > 8){
          return ;
        }

        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        cell0.innerHTML = '<th><input class="w3-checkbox w3-border" type = "checkbox" style="vertical-align: middle;"></th>';
        cell1.innerHTML = '<th><input class="w3-input w3-border" type="text" name=""></th>';
        cell2.innerHTML = '<th><input class="w3-input w3-border" type="text" name=""></th>';
        cell3.innerHTML = `<th><select class="w3-select w3-border" type="text" name="option">
          <option value="" disabled selected>화폐종류</option>
          <option value="한화">한화(KRW)</option>
          <option value="유로">유로(EUR)</option>
          <option value="달러">달러(USD)</option>
        </th>`;
      }

      function delete_row(){
        var my_tbody = document.getElementById('my_tbody');
        var rowCnt = my_tbody.rows.length;
        for(var i=0; i<rowCnt; i++){
          var row = my_tbody.rows[i];
          var chkBox = row.cells[0].childNodes[0];

          if(chkBox!=null && chkBox.checked==true){
            my_tbody.deleteRow(i);
            rowCnt--;
            i--;
          }
        }
      }

      function Submit(){
        var my_tbody = document.getElementById('my_tbody');
        var row_length = my_tbody.rows.length;
        var dataArray = new Array();

        for(var i=0; i<row_length; i++){
          var row = my_tbody.rows[i];
          var dataInfo = new Object();
          dataInfo.cash_id = <%= id %>;
          dataInfo.cash_name = row.cells[1].childNodes[0].value;
          dataInfo.cash_value = row.cells[2].childNodes[0].value;
          dataInfo.cash_kind = row.cells[3].childNodes[0].value;
          dataArray.push(dataInfo);
        }
        if(check(row_length)){
          $.ajax({
            url : "/write/household",
            type : "POST",
            datatype : 'json',
            data : {grid_values : dataArray, length : row_length}
          });
          window.close();
        }
      };

      //필수성 체크
      function check(row_length){
        var my_tbody = document.getElementById('my_tbody');
        var check_okay=0;
        for(var i=0; i<row_length; i++){
          var row = my_tbody.rows[i];
          if(row.cells[1].childNodes[0].value==""||row.cells[2].childNodes[0].value==""||row.cells[3].childNodes[0].value==""){
            if(row.cells[1].childNodes[0].value==""){
              alert("물품 이름이 비었습니다. 입력바랍니다.");
              row.cells[1].childNodes[0].focus();
              return 0;
            }else if(row.cells[2].childNodes[0].value==""){
              alert("물품 가격이 비었습니다. 입력바랍니다.");
              row.cells[2].childNodes[0].focus();
              return 0;
            }else if(row.cells[3].childNodes[0].value==""){
              alert("물품 종류가 비었습니다. 입력바랍니다.");
              row.cells[3].childNodes[0].focus();
              return 0;
            }
          }else{
            check_okay++;
          }
        }
        if(check_okay == row_length){
          return 1;
        }
      }


    </script>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
