<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title><%= title %> Travel Blog</title>

    <!-- 부트스트랩 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/first.css" rel="stylesheet">


  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="mynavbar">
        <ul class="nav navbar-nav">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Info</button>
            <button type="button" class="btn btn-default">Login</button>
            <button type="button" class="btn btn-default">Register</button>
          </div>
        </ul>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h3> Go Travel </h3>
      <a href="/main"><img src="/images/eu_travel.jpg" alt="travel"></a>
      <h3> I'm an traveler ! </h3>
    </div>

    <!-- Infomation -->
    <div>
      blarblar...
    </div>
    

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
