<div class="w3-top w3-orange">
  <nav class="mynavbar w3-orange w3-xlarge w3-padding-xlarge">
    <a href="/first" style="float : left; padding-left : 40px;">Home</a>
    <a href="/main" style="float : left; padding-left : 40px;">Main</a>
    <a href="#logout" class="w3-right" style="padding-right : 30px">Logout</a>
    <a href="/write" class="w3-right" style="padding-right : 40px;">Write</a>
  </nav>
</div>
