<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>JunYeop Travel Blog</title>

    <!-- 부트스트랩 -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="/stylesheets/cash.css" rel="stylesheet">

    <link rel="stylesheet" href="/SlickGrid-master/slick.grid.css" type="text/css"/>

  </head>
  <body>

    <nav>
      <% include ./navbar %>
    </nav>

    <!-- 사진올리기 글쓰기 form -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;">
      <h1>여행일지작성</h1>
      <!-- slick grid  -->
      <div id="myGrid" style="width : 600px; height : 500px"></div>
      <button class="w3-btn w3-round w3-orange w3-right w3-margin" onclick="open_popup()">가계부등록</button>
  <!-- <button type='file' class="w3-btn w3-round w3-orange w3-right w3-margin">사진업로드</button> -->
      <form action = '/write' method="post" class="w3-main w3-container w3-padding" enctype="multipart/form-data">
        <label class="glyphicon glyphicon-floppy-disk btn btn-default btn-file w3-right">
            업로드<input name='userfile'type="file" style="display: none;">
        </label>
        <label class="w3-label w3-text-black w3-padding">제목</label>
        <input class="w3-input w3-border w3-round" type="text" name="title">
        <label class="w3-label w3-text-black w3-padding">본문</label>
      	<textarea name="description" class="form-control col-sm-5" rows="10"></textarea>
        <button class="w3-btn w3-orange w3-margin" type="submit" style="float : right; ">Register</button>
      </form>
    </div>

    <!-- 업로드 -->
    <!-- <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="uploadFile">
      <input type="submit" name="Upload">
    </form> -->

    <script src="/SlickGrid-master/lib/firebugx.js"></script>

    <script src="/SlickGrid-master/lib/jquery-1.7.min.js"></script>
    <script src="/SlickGrid-master/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/SlickGrid-master/lib/jquery.event.drag-2.2.js"></script>

    <script src="/SlickGrid-master/slick.core.js"></script>
    <script src="/SlickGrid-master/plugins/slick.checkboxselectcolumn.js"></script>
    <script src="/SlickGrid-master/plugins/slick.autotooltips.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellrangedecorator.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellrangeselector.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellcopymanager.js"></script>
    <script src="/SlickGrid-master/plugins/slick.cellselectionmodel.js"></script>
    <script src="/SlickGrid-master/plugins/slick.rowselectionmodel.js"></script>
    <script src="/SlickGrid-master/controls/slick.columnpicker.js"></script>
    <script src="/SlickGrid-master/slick.formatters.js"></script>
    <script src="/SlickGrid-master/slick.editors.js"></script>
    <script src="/SlickGrid-master/slick.grid.js"></script>
    <script src="/SlickGrid-master/slick.dataview.js"></script>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->

    <script type="text/javascript">
      var grid;
      var columns = [
        {id : 'cash_name', name : 'cash_name',  field : 'cash_name'},
        {id : 'cash_value', name : 'cash_value', field : 'cash_value'},
        {id : 'cash_kind', name : 'cash_kind', field : 'cash_kind'}
      ];
      var options = {
        enableCellNavigation : true,
        enableColumnReorder : false
      };
      var num = 1;
      var values =new Array();
      values = [<%- values %>];
      var test = new Array();
      test = [0,'hi','hello',3];
      if(test === undefined){
        console.log('1');
      }

      $(function(){
         var data = [];
         for(var i = 0; i < <%=length%>; i++){
           data[i] = {
             cash_name : values[(i*4)+1],
             cash_value : values[(i*4)+2],
             cash_kind : values[(i*4)+3]
           };
         }
        console.log(values);
        grid = new Slick.Grid('#myGrid',data,columns,options);
      })


      // 만약에 offset이 있다면 그리드 출력.
      if(<%= offset %> == 1){
        document.getElementById('myGrid').style.visibility="visible";

      }else{
        //offset이 없다면 그리드 미출력.
        document.getElementById('myGrid').style.display="none";
      }

      function open_popup(){
        window.open("/cash/<%= last_id %>","","width=550, height=700");
      }
    </script>
  </body>
</html>
